.wrapperSkeletorDestinosDestacados {
    display: flex;
    flex-direction: column;

    &_img {
        height: 240px;
        width: 100%;
        border-radius: .6rem;
        animation: skeletor-loading 1s linear infinite alternate;
        margin-bottom: .2rem;
    }

    &_text {
        height: 1.4rem;
        width: 40%;
        border-radius: 1rem;
        animation: skeletor-loading 1s linear infinite alternate;
        margin-bottom: .2rem;
    }

    &_subtext {
        height: 1.2rem;
        width: 30%;
        border-radius: 1rem;
        animation: skeletor-loading 1s linear infinite alternate;
        margin-bottom: .2rem;
    }
}

@keyframes skeletor-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}