.wrapperSkeletonCard {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    div {
        border-radius: 1rem;
        margin-bottom: 0.2rem;
    }
}

.SkeletorCard {
    background-color: black;
    animation: skeletor-loading 1s linear infinite alternate;


    &_img {
        width: 100%;
        height: 300px;
        margin-bottom: 0.4rem;
    }

    &_tittle {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: 20px;
    }

    &_subtittle {
        width: 50%;
        height: 15px;
    }

    &_subtittle2 {
        width: 60%;
        height: 15px;
    }

    &_subtittle3 {
        width: 45%;
        height: 15px;
    }

    &_circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 0.2rem;

    }


    &_footer1 {
        width: 40%;
        height: 15px;
        margin-right: 0rem;
        margin-left: auto;
    }

    &_footer2 {
        width: 35%;
        height: 20px;
        margin-right: 0rem;
        margin-left: auto;
    }



}

@keyframes skeletor-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}