.wrapperSkeletorButton {
    height: 30px;
    width: 140px;
    border-radius: 1rem;
    animation: skeletor-loading 1s linear infinite alternate;
}

@keyframes skeletor-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}