.l-miel-banner {
  height: 450px;
  background-image: url("/imagenes/luna-de-miel/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1200px) {
    height: 825px;
    // max-height: 825px;
  }

  &::before {
    content: "";
    background-color: rgba($dark, 0.3);

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__titulo {
    font-size: 6vw;

    @media (min-width: 768px) {
      font-size: 2em;
    }

    @media (min-width: 992px) {
      font-size: 2.7em;

    }
  }

  &__descripcion {
    font-size: 0.9em;
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;
    @media (min-width: 768px) {
      font-size: 1.1em;
    }
  }
}