@import "../../../../styles/scss/variables";

.compartir {
  width: 30px;
  height: 25px;

  background-color: rgba($light, 0.8);

  border-radius: 0.7rem;

  transition: transform 0.5s;

  &_contenido {
    display: none;
  }

  &:hover .compartir_contenido {
    display: block;
  }
}
