@import "../../../styles/scss/variables";

.reservas {
  &_imagen {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    @media (max-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  &_imagenDetalle {
    width: 100%;
    height: 120px;
    border-radius: 10px;

    @media (min-width: 768px) {
      width: 100px;
      height: 90px;
    }
  }

  &_borderItem {
    border-bottom: 2px dashed rgba($primary, 0.7);
  }
}
.card_reserva {
  border: 1px solid $light;

  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
  }
}
