@import "../../../styles/scss/variables";

.cardGeneral {
  width: 100%;
  border: 1px solid rgba($secondary, 0.4);
  border-radius: 0.7rem;

  &:hover {
    box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
  }

  &_wrapperimagen {
    overflow: hidden;
    height: 300px;
    width: 100%;
    

    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;



    &_imagen {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: transform 1s ease;
      border-top-left-radius: 0.7rem;
      border-top-right-radius: 0.7rem;

      &:hover {
        transform: scale(1.1);

      }
    }


  }

  &_body {
    padding: 1.3rem 2rem;
  }

  &_titulo {
    font-size: 1.1em;
    font-weight: 700;
    color: rgba($secondary, 0.9);

    text-align: center;

    display: block;

    @media (min-width: 768px) {
      font-size: 1.1em;

      text-transform: uppercase;
    }

    &:hover {
      color: $secondary;

      text-decoration: none;
    }
  }

  &_icono {
    font-size: 1rem;
  }

  &_ubicacion {
    font-size: 1rem;
  }

  &_precio2 {
    font-size: 1.3em;
  }

  &_estrella_precio {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
}