.wrapperTravelBag1 {
    position: absolute;
    display: none;
    top: 270px;
    right: 70px;
    rotate: 12deg;

    @media (min-width:1200px) {
        display: block;
    }
}
.wrapperTravelBag2 {
    position: absolute;
    display: none;
    top: 470px;
    left: 70px;
    rotate: -12deg;

    @media (min-width:1200px) {
        display: block;
    }
}

.wrapperTravelBag3 {
    position: absolute;
    display: none;
    bottom: 470px;
    left: 70px;
    rotate: -11deg;

    @media (min-width:1200px) {
        display: block;
    }
}


.wrapperTravelBag4 {
    position: absolute;
    display: none;
    bottom: 340px;
    right: 70px;
    rotate: -9deg;

    @media (min-width:1200px) {
        display: block;
    }
}