// .card-testimonio {
//   border: 1px solid rgba($secondary, 0.3);

//   &__imagen-c {
//     height: 190px;
//   }

//   &__imagen {
//     width: 140px;
//     max-width: 100%;
//     height: 140px;

//     border-radius: 50%;
//   }

//   &__titulo {
//     font-size: 1em;
//   }

//   &__descripcion {
//     font-size: 0.9em;
//   }
// }

.card-testimonio {

  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding: 0.2rem;

  &_img {
    position: relative;
    width: 40px;
    height: 40px;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    border-radius: 50%;


  }
  &_nextimage {
    position: absolute;
    width: 40px;
    height: 40px;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    border-radius: 50%;
    
  }

  &_wrappertext {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #F0F2F5;
    border-radius: 10px;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;

    &_user {
      width: 100%;
      color: #050505;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;

    }

    &_content {
      width: 100%;
      font-size: 14px;
      line-height: 18.6662px;
      font-weight: 400;



    }

    &_wrappertime {
      display: flex;
      display: row;
      gap: 1rem;
      width: 100%;

      &_gusta {
        color: black;
        font-weight: 700;
        font-size: 12px;
        line-height: 12px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
      }

      &_responder {
        color: black;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;

      }

      &_time {
        color: black;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
      }


    }


  }
}