.card-busqueda {
  min-height: 240px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;

  border: 1px solid $light;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 9px -9px rgba(0, 0, 0, 0.75);
  }

  @media (min-width: 768px) {
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
  }

  &__imagen {
    background-image: url("https://cdn2.civitatis.com/peru/cusco/galeria/laguna-pomacanchi.jpg");

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
