.card-general {
  max-width: 100%;

  border: 1px solid rgba($secondary, 0.4);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  &__image {
    height: 300px;
    background-image: url("https://estaticos.muyhistoria.es/media/cache/400x300_thumb/uploads/images/pyr/54941b888c770c961fd6df9e/pais-mas-vacaciones.jpg");
    background-size: cover;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__body {
    padding: 1.3rem 2rem;
  }

  &__titulo {
    font-size: 1.1em;
    font-weight: 700;
    color: $secondary;

    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.1em;

      text-transform: uppercase;
    }
  }

  &__icono-maps {
    font-size: 1em;
  }
}
