// @import '@/styles/variables.scss';

.banner {
  height: 450px;

  background-image: url("https://besthqwallpapers.com/Uploads/3-5-2020/131388/thumb2-flying-boeing-777-300er-airplane-blue-sky-boeing-777-300er-airliner.jpg");
  background-size: cover;

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1200px) {
    height: 90vh;
  }

  &__title {
    font-size: 7vw;

    @media (min-width: 992px) {
      font-size: 3.5vw;
    }
  }

  &__subtitle {
    font-size: 5vw;

    @media (min-width: 992px) {
      font-size: 2.8vw;
    }
  }
}
