// @import '@/styles/variables.scss';

.banner {
  height: 450px;

  background-image: url("/imagenes/home/banner.jpg"); // 1280×853
  background-position: center;

  @media (min-width: 768px) {
    height: 60vh;
  }

  @media (min-width: 1200px) {
    height: 95vh;
  }

  &::before {
    content: "";

    background-color: rgba($dark, 0.1);

    width: 100%;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__title {
    font-size: 7vw;

    @media (min-width: 992px) {
      font-size: 3.5vw;
    }
  }

  &__subtitle {
    font-size: 5vw;

    @media (min-width: 992px) {
      font-size: 2.8vw;
    }
  }
}
