// @import '@/styles/variables.scss';

.banner {
  height: 450px;

  background-image: url("/imagenes/home/banner.jpg"); // 1280×853
  background-position: center;
  background-repeat: repeat-x;
  position: relative;

  @media (min-width: 768px) {
    height: 60%;
  }

  @media (min-width: 1200px) {
    height: 825px;
  }

  &::before {
    content: "";

    background-color: rgba($dark, 0.1);

    width: 100%;
    height: 100%;

    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__title {
    font-size: 30px;

    position: relative;
    z-index: 2;

    @media (min-width: 992px) {
      font-size: 80px;
    }
  }

  &__subtitle {
    font-size: 30px;

    position: relative;
    z-index: 2;

    @media (min-width: 992px) {
      font-size: 80px;
    }
  }
}
