.destinos-destacados {
  &__fila-1 {
    display: none;

    @media (min-width: 768px) {
      display: grid;
      grid-gap: 0.5rem;
    }
  }

  &__fila-3 {
    display: none;

    @media (min-width: 768px) {
      display: grid;
      grid-gap: 0.5rem;
    }
  }

  &__fila-1 {
    grid-template-columns: 1fr 1fr;

    margin-bottom: 0.5rem;
  }

  &__fila-3 {
    grid-template-columns: repeat(4, 1fr);
  }

  .carousel-app-btn--prev {
    left: 1rem;
  }

  .carousel-app-btn--next {
    right: 1rem;
  }
}

.wrapperTravelBagDestinosDesctacados1 {
  position: absolute;
  display: none;
  top: 50%;
  bottom: 50%;
  right: 70px;
  rotate: 12deg;

  @media (min-width: 1200px) {
    display: block;
  }
}

.wrapperTravelBagDestinosDesctacados2 {
  position: absolute;
  display: none;
  top: 50%;
  bottom: 50%;
  left: 70px;
  rotate: 12deg;

  @media (min-width: 1200px) {
    display: block;
  }
}
