.wrapperestadistica {
  width: 100%;
  height: auto;
  background-color: rgba(136, 223, 42, 0.976);
}


.estadisticas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 2rem;



  &__titulo {
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }

    
    @media (min-width: 1024px) {
      font-size: 2rem;
    }
  }

  &__descripcion {
    font-size: 0.75em;

    @media (min-width: 768px) {
      font-size: 0.9em;
    }
  }

  &>div {
    border-right: 3px solid $primary;
  }
}