.font-weight-bold {
  font-weight: 700;
}

.d-inline-block {
  display: inline-block;
}

.text-blue {
  color: $azul;
}

.text-right {
  text-align: right;
}

.subtitulo-general {
  font-size: 1.4em;
  font-weight: 700;
  color: $black;
  text-align: center;

  position: relative;

  @media (min-width: 768px) {
    font-size: 2em;
  }

  &--border-bottom {
    &::before {
      content: "";

      background-color: rgba($secondary, 0.5);

      width: 80px;
      height: 2px;

      margin: auto;

      position: absolute;
      bottom: -1rem;
      left: 0;
      right: 0;
      z-index: 10;
    }
  }
}

.subtitulo-slug {
  font-size: 1.1em;
  font-weight: 700;
  color: $black;

  @media (min-width: 768px) {
    font-size: 1.5em;
  }
}

.card-title {
  font-size: 0.8em;

  @media (min-width: 768px) {
    font-size: 1em;
  }
}

.card-subtitle {
  font-size: 0.65em;

  @media (min-width: 768px) {
    font-size: 0.85em;
  }
}

.pointer {
  cursor: pointer;
}

.bg-transparent {
  background: transparent !important;
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
}
