@import "./variables";
@import "~bootstrap/scss/bootstrap.scss";

@import "./utilities";

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;700&display=swap");

@import "./components/header";
@import "./components/home/banner";
@import "./components/home/buscador-principal";
@import "./components/home/destinos-destacados";
@import "./components/carousel";
@import "./components/cards/card-destino";
@import "./components/cards/card-general";
@import "./components/cards/components/like";
@import "./components/home/estadisticas";
@import "./components/cards/card-testimonio";
@import "./components/footer";
@import "./components/calendar";

// Luna de miel
@import "./components/luna-de-miel/banner";
@import "./components/cards/card-luna-de-miel";
@import "./components/modal-contacto";

// Cruceros
@import "./components/cruceros/banner";

// Auth
// @import "./components/auth/auth-form";

// Páginas
@import "./paginas/actividades-turismo";
@import "./paginas/sobre-nosotros";

body {
  font-family: "Urbanist", sans-serif;

  padding-top: 60px; // Tamaño del header
}

h1,
h2,
h3,
p {
  margin: 0;
}

.btn {
  font-size: 0.9em;

  border-radius: 1rem;

  box-shadow: none !important;
}

.card {
  border-radius: 0.3rem;
}

.modal-auth {
  max-width: 650px !important;
}

.redes-sociales {
  img {
    width: 25px;
    height: 25px;

    margin-right: 1rem;
  }
}

a.nav-link-tab {
  color: rgba($dark, 0.4) !important;

  transition: color 0.3s;

  &:hover {
    color: $dark !important;
    cursor: pointer;
  }
}

a.nav-link-tab.active {
  background-color: transparent !important;
  color: $primary !important;
  font-weight: bold;
}
